.header{
    background-color: gold;
    display:flex;
    justify-content: right;
}
.footer{
    display:flex;
    justify-content:flex-end;
}
a:link{
    color:red;
}
a:visited{
    color:indianred;
}
.origami:hover{
    transform: scale(1.2);
}