.header{
    background-color: orange;
    display:flex;
    justify-content: right;
}
.footer{
    display:flex;
    justify-content:flex-end;
}
a:link{
    color:red;
}
a:visited{
    color:indianred;
}
.paths:hover{
    transform: scale(1.1);
}